
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

blockquote, q { quotes: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font-size:13px } 
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

button {  width: auto; overflow: visible; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a:link {color: #fff;}
a:visited {color:#fff;}
a:hover {color: #036;}
a:active {color: #222;}

.div-ider {clear:both;}

/* REWIRED STATE NORFOLK */

@font-face {
    font-family: 'VollkornRegular';
    src: url('Vollkorn-Regular-webfont.eot');
    src: url('Vollkorn-Regular-webfont.eot?iefix') format('eot'),
         url('Vollkorn-Regular-webfont.woff') format('woff'),
         url('Vollkorn-Regular-webfont.ttf') format('truetype'),
         url('Vollkorn-Regular-webfont.svg#webfontNg8SQWLd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VollkornBold';
    src: url('Vollkorn-Bold-webfont.eot');
    src: url('Vollkorn-Bold-webfont.eot?iefix') format('eot'),
         url('Vollkorn-Bold-webfont.woff') format('woff'),
         url('Vollkorn-Bold-webfont.ttf') format('truetype'),
         url('Vollkorn-Bold-webfont.svg#webfontJxRRhfTP') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VollkornItalic';
    src: url('Vollkorn-Italic-webfont.eot');
    src: url('Vollkorn-Italic-webfont.eot?iefix') format('eot'),
         url('Vollkorn-Italic-webfont.woff') format('woff'),
         url('Vollkorn-Italic-webfont.ttf') format('truetype'),
         url('Vollkorn-Italic-webfont.svg#webfontDzVwoiMp') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VollkornBoldItalic';
    src: url('Vollkorn-BoldItalic-webfont.eot');
    src: url('Vollkorn-BoldItalic-webfont.eot?iefix') format('eot'),
         url('Vollkorn-BoldItalic-webfont.woff') format('woff'),
         url('Vollkorn-BoldItalic-webfont.ttf') format('truetype'),
         url('Vollkorn-BoldItalic-webfont.svg#webfontDwvVGCpS') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
overflow:hidden;
}

body {
background:url(../images/blurry.png);
color:#fff;
}

#container {
width: 900px;
position:absolute;
bottom:0;
left:50%;
margin:0 0 0 -450px;
font-family:'VollkornRegular', serif;
font-size:15px;
z-index:99999;
}

header {
}

header h1 {
font-family:'VollkornBold', serif;
font-size: 33px;
margin:0 0 10px 0;
}

strong {
font-family:'VollkornBold', serif;
font-weight:normal;
}

em {
font-family:'VollkornItalic', serif;
font-style:italic; 
}

header h2 {
font-style: italic;
font-size: 20px;
}

header .slogan {
float:right;
font-size: 20px;
}

div#main {
background:url(../images/stephen_fry_inna_mask.png) no-repeat 10px bottom;
}

div#main {
padding:0 0 0 290px;
}

#footer {
height:50px;
padding:0 0 10px 0;
}

#footer a {
padding:0 10px 0 0;
}

.slogan {
position:absolute;
top:0;
right:0;
width:200px;
height:200px;
background:transparent url(../images/not_just_for_geeks.png) no-repeat left top;
}

.slogan p {
height:0;
overflow:hidden;
}

div#main p {
margin-bottom: 10px;
line-height:1.5;
}

#actions {
margin:0 0 10px 0;
}

#actions a {
width:140px;
height:156px;
float:left;
margin:0 10px 0 0;
}

#actions a:hover {
outline:2px solid #fff;
}

#actions a span {
display:block;
height:0;
overflow:hidden;
}

#provider {background:url(../images/provider.jpg) no-repeat left top}
#developer {background:url(../images/developer.jpg) no-repeat left top}
#gawker {background:url(../images/gawker.jpg) no-repeat left top}
#sponsor {background:url(../images/sponsor.jpg) no-repeat left top}

.photo-attribution {
vertical-align:super;
text-decoration:none;
white-space:nowrap;
height:50px;
line-height:50px;
padding:0 10px 0 0;
}

@media all and (max-width: 990px) , (max-height: 570px) {

html, body {
overflow:auto;
}

#container {
position:static;
padding:20px 20px 0 20px;
width:auto;
margin:0;
font-size:17px;
color:#111;
}

#container a {
color:#111;
}

#container #main {
padding:0;
background-position:center bottom;
padding:0 0 460px 0;
}

.slogan {
position:static;
width:100%;
height:100px;
background:#fff url(../images/not_just_small.gif) no-repeat center center;
}

#actions {
margin:0;
}

#actions a {
float:none;
background:transparent;
color:#fff;
width:auto;
line-height:0.8;
}

#actions a span {
height:30px;
line-height:30px;
overflow:show;
font-size:30px;
text-align:center;
font-family:'VollkornBoldItalic', serif;
letter-spacing:2px;
}

#actions a:hover {
outline:none;
color:#111;
}

h1, #footer {
text-align:center;
}

}

@media print {
* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
-ms-filter: none !important; } 
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
}
